.wrapper {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 7px;

  background-color: var(--app-background-color);
}


.user-card {  

  display: flex;
  justify-content: space-between;
  // gap: 7px;
  
  background-color: var(--secondary-background-color);
  padding: 10px 15px 40px 15px;
}

.user-avatar {
  flex-grow: 0;

  & img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
}

.user-info {
  flex: 1;

  display: flex;
  flex-direction: column;

  padding-left: 7px;

  & .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  & .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  & .card-title {
    font-weight: 600;
    font-size: 0.875rem;
    padding-left: 3px;
  }

  & .to-profile-page {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    border: 1px solid red;
    border-radius: 16px;
    padding: 3px 10px;

    color: red;
    font-size: 0.875rem;

    & a {
      text-decoration: none;
      color: red;
    }
  }
}

.user-type-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 3px;

  & .user-icon {
    flex: 0 0 20px;
    text-align: center;
  }
  
  & .user-type {
    flex: 1;
    color: gray;
    font-size: 0.875rem;
  }
}

.status-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 3px;

  & .status-icon {
    flex: 0 0 20px;
    text-align: center;
  }

  & .status {
    flex: 1;
    color: gray;
    font-size: 0.875rem;
  }
}

.contact-user-card {
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: var(--secondary-background-color);
  padding: 10px 15px 10px 15px;

  & .card-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;

    & .card-title {
      font-weight: 600;
    }

    & .feedback {
      color: gray;
    }
  }

  & .card-body ul {
    list-style-type: none;

    display: flex;
    gap: 7px;
    overflow-x: scroll;
    padding: 5px 0 5px 0;

    & li {
      flex-shrink: 0;
      padding: 5px 7px;
      background-color: #f4f4f4;
      border-radius: 16px;
    }
  }

  & .card-actions {
    flex: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 7px;
  }
}


.user-icon {
  & img {
    width: 16px;
    height: 16px;
  }
}



.btn {
  padding: 10px 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
}


.shortener {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.call {
  @extend .btn;
  background-color: var(--green-600);
  color: white;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  border: 0;
  cursor: pointer;

  & .call-icon {
    margin-right: 5px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  & .phone-number {
    flex: 0.6;
    // should be removed on click
  }

  & .phone-number.shortened {
    @extend .shortener;
  }

  & .expand {
    flex: 0.4 0 auto;
    text-align: right;
  }
}

.chat {
  @extend .btn;
  
  color: var(--green-600);
  border: 1px solid var(--green-600);
  background-color: white;

  cursor: pointer;

  & .chat-with-user a {
    text-decoration: none;
    color: var(--green-600);
  }
}

.contact-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  & .help-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    
    & .help-icon img {
      width: 24px;
      height: 24px;
    }

    & a {
      text-decoration: none;
      color: gray;
    }
  }

  & .report-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    & .report-icon img {
      width: 24px;
      height: 24px;
    }

    & a {
      text-decoration: none;
      color: gray;
    }
  }
}