{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "~": "./src",
        "@styles": "./src/styles"
      }
    }]
    // [
    //   "babel-plugin-root-import",
    //   {
    //     "rootPathSuffix": "src"
    //   }
    // ]
    
  ]
}