.toggle-theme-btn {
  padding: 7px 10px;
  border: 1px solid var(--toggle-theme-btn-border-color);
  border-radius: 50%;
  background-color: var(--toggle-theme-btn-bg-color);
  transition-delay: 0;
  box-shadow: 2px 2px 4px 0px rgba(0 0 0 / 30%);
  &:hover {
    scale: 1.05;
  };
  &:active {
    box-shadow: 0;
    translate: 0 1px;
  };
}

