.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.tabs {
  display: flex;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  @extend .hide-scrollbar;
}


.tab {
  display: contents;
  // scroll-snap-align: center;
}

.tab-btn {
  scroll-snap-align: center;

  flex: 0 0 33.33%;

  padding: 13px 15px;
  border: 0;

  background-color: var(--secondary-background-color);

  font-size: 0.875rem;

  white-space: nowrap;
}

.active {
  border-bottom: 3px solid var(--orange-800);
  font-weight: 600;
}

@media (max-width: 576px) {
  .tab-btn {
    flex: 0 0 60%;
  }
}