h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 0;
  margin-left: 10px;
  text-align: left;
}

.cards {
  display: flex;

  & * {
    color: inherit;
    text-decoration: none;
  }
}

.card-wrapper {
  flex: 0.25;
  padding: 20px 15px;

  &:hover {
    background-color: whitesmoke;
  }
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.media img {
  height: 50px;
  width: 50px;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  
  text-align: left;

  & * {
    margin: 0;
  }

  & h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }  

  & p {
    font-size: 0.9prem;
    color: black;
  }
}

.separator {
  background-color: lightgray;
  height: 50px;
  width: 1px;
  margin: auto;
}


@media (max-width: 768px) {

  .card {
    flex-direction: column;
  }

  .media img {
    width: 40px;
    height: 40px;
  }

  .details {
    & p {
      display: none;
    }

    & h3 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 576px) {

  .media img {
    width: 30px;
    height: 30px;
  }

  .details {

    & h3 {
      font-size: 0.875rem;
    }
  }

}

@media (max-width: 420px) {

  .card-wrapper {
    padding: 10px 7px;
  }

  .media img {
    width: 25px;
    height: 25px;
  }

  .details {

    & h3 {
      font-size: 0.75rem;
    }
  }
}