.outer-wrapper {
  flex: 1;

  background-color: var(--secondary-background-color);
  margin-top: 7px;
  padding-inline: 10px;

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.inner-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.h2 {
  text-align: left;
  font-size: 1.125rem;
  padding: 15px 0;
  margin: 0;
}

.card {
  border-radius: 4px;
  width: 150px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;

  position: relative;
}

.card-title {
  text-align: left;

  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: 600;
  font-size: 1rem;
}

.goi-pro {
  flex: 1;
  @extend .card;

  background-image: url("https://cdn.chotot.com/admincentre/w95D7sGr57okUeEdbuDmQMCyKVkYZl6mo9EgRLKKrtA/preset:raw/plain/990646eda9bc8affc6607db5e3baf3c9-2818606091620151726.jpg");

  & > span {
    @extend .card-title;
    color: var(--white);
  }
}

.tai-khoan-doanh-nghiep {
  flex: 1;
  @extend .card;

  background-image: url("https://cdn.chotot.com/admincentre/Dupe4x0x3ECRfriVpDnAPMYg372wy-Huyt3PsctKF5o/preset:raw/plain/f8f6e9af42a84de87057abbb82c90e45-2819407824545099225.jpg");

  & > span {
    @extend .card-title;
  }
}

.chuyen-trang-moi-gioi {
  flex: 1;
  @extend .card;

  background-image: url("https://cdn.chotot.com/admincentre/_RTl6Q2Krbe6r02tnj1JnbuZWxuPx2oUEBNpBMpoaio/preset:raw/plain/07b6b376223049ba1c9bba4195d8b79b-2819407858803967177.jpg");

  &__title {
    @extend .card-title;
  }

  &__badge {
    position: absolute;
    top: -10px;
    right: -5px;
  
    background-color: var(--red);
    color: var(--white);
    padding: 3px 6px;
    border-radius: 4px;
  
    text-align: center;
  
    & > span {
      font-size: 0.875rem;
      font-weight: 600;
    }
  }
}


@media (max-width: 992px) {
  .outer-wrapper {
    margin-top: 0;
  }

  .inner-wrapper {
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}

@media (max-width: 490px) {
  .inner-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
