
.card-wrapper {
  text-decoration: none;
  color: inherit;
}

.card {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.65);
  padding: 7px 10px;
  margin-bottom: 1px;
  
  background-color: var(--secondary-background-color);

  &:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.65);
  }
}

.card-media {
  flex: 0;

  & img {
    object-fit: cover;
    object-position: center;
    width: 128px;
    height: 128px;
  }
}

.card-details {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;
}

.card-content {
  flex: 1;

  & .description {
    display: flex;
    align-items: center;
    gap: 5px;

    & .bedroom {
      vertical-align: middle;
    }
  }
}

.superscript {
  font-size: 70%;
  position: relative;
  bottom: 0.3em;
}

.card-footer {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  & .card-info {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 5px;
  }

  & .favorite-btn {
    flex-grow: 0;

    border: 0;
    vertical-align: middle;
    margin: auto 0;

    color: red;
    background-color: inherit;
    font-size: 1.25rem;

    transition: scale 300ms;

    &:hover {
      scale: 1.5;
    }
  }
}


// .card-wrapper {
//   width: 100%;
//   height: 100%;
//   // padding: 10px;

//   color: inherit;

//   &:hover {
//     opacity: 1;
//   }
// }

// .card-link {
//   text-decoration: none;
// }

// .card {
//   display: flex;
//   // flex-direction: column;
//   justify-content: flex-start;
//   align-items: center;
//   width: 100%;
//   height: auto;

//   margin: 0;
//   border-radius: 4px;
//   box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.65);
// }

// .card-media {
//   flex: 0 0 169px;
//   max-height: 169px;
//   width: 100%;

//   & img {
//     object-fit: cover;
//     object-position: center;
//     width: 128px;
//     height: 128px;
//   }
// }

// .card-content {
//   width: 100%;
//   flex: 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: flex-start;

//   color: var(--app-text-color);

//   & p {
//     margin: 0;
//   }

//   & .card-title {
//     flex: 0;

//     margin-top: 5px;
//   }

//   & .card-title p {
//     text-align: left;
//     display: -webkit-box;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//   }

//   & .card-details {
//     flex: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 5px;

//     & span {
//       font-size: 0.875rem;
//     }

//     & .price {
//       font-weight: 600;
//       color: var(--error);

//       &:hover {
//         scale: 1.3;
//         translate: 10px 0;
//       }
//     }

//     & footer {
//       display: flex;
//       justify-content: flex-start;
//       align-items: center;
//       gap: 10px;
//     }
//   }
// }
