
.common-styles {
  border: 1px solid whitesmoke;
  // border-right: 0;
  background-color: var(--secondary-background-color);
}

.filter-btn.active {
  box-shadow: 0 3px 0 0 var(--orange-900);
  font-weight: 600;
}

.wrapper {
  display: flex;
  justify-content: flex-start;

  
  & button {
    @extend .common-styles;
    padding: 10px;
    text-align: left;
  }

  & button:hover {
    box-shadow: 0 3px 0px 0 var(--orange-900);
  }
}

.actions {
  flex: 1;

  display: flex;
  justify-content: flex-start;

  & .filter-btn {
    min-width: 160px;
  }

  & > button {
    flex: 1;
  }
}

.sort-by-menu {
  min-width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-mode {

  @extend .common-styles;

  width: 45px;
  height: 45px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .wrapper {
    // flex-direction: column;
    // overflow: hidden;
    display: none;
  }
}