.search-box {
  flex: 0 1 100%;

  display: flex;
  align-items: center;

  cursor: pointer;

  & .search-input {

    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    height: 40px;
    padding-inline: 10px;
    // padding-right: 0;
    // border: 1px solid darkgray;
    border-radius: 4px;
    
    transition: width 300ms ease;

    & .search-text {
      color: rgba(231, 227, 252, 0.38);
    }
  }

  
  & .search-btn {

    // display: inline-block;

    border: 0;
    // padding-inline: 10px;
    background-color: transparent;
    cursor: pointer;

    & .search-icon {
  
      
      & > svg {
        vertical-align: middle;
        fill: white;
        width: 25px;
        height: 25px;
      }
    }
  }

  & .clear-btn {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);

    & svg {
      vertical-align: middle;
    }
  }

}


.search-results {
  
  color: #ACADA8;
  
  & > ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  
    justify-items: start;

    padding-inline: 40px;
  }

  & > ul > li {
    width: 100%;
  }

  & > ul > li > a {
    text-decoration: none;
  }

}


.search-result {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  padding: 15px;
  
  
  & .search-result-item {
    font-size: 1.25rem;
    color: whitesmoke;
    text-decoration: none;

    & > svg {
      fill: whitesmoke;
    }
  }

}


.modal-search {
  
}

.modal-search-box {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;

  border-bottom: 1px solid #ACADA8;

  & > .modal-search-btn {
    flex: 0 0 40px;

    & > button {
      width: 100%;
      height: 40px;
      background-color: transparent;
      border: 0;

    }
  }

  & .modal-search-icon {
    & > svg {
      fill:  #ACADA8;
      vertical-align: middle;
    }
  }

  & > .modal-search-input {
    flex: 1;

    & > input {
      background-color: #202020;
      color: whitesmoke;
      font-size: 1.25rem;
    }

    & > input:focus {
      border: 0;
      outline: 0;
    }
  }
  
}


@media (max-width: 992px) {
  
  .search-box {

    justify-content: flex-end;

    & .search-input {
      // justify-content: flex-end;

    }

    & .search-text {
      display: none;
    }
  }

}

@media (max-width: 420px) {

  .search-box {
    justify-content: flex-start;
  }
}