@import '@styles/scss/_typography';

.product-details {
  text-align: left;
  background-color: var(--app-background-color);
}

.product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  flex: 1 0 100px;
  font-size: 1.25rem;
  margin: 0;

  @include text-collapse(2);
}

.actions {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  & > * > svg, & > * > img {
    height: 1.25rem;
  }

  & .share, & .favorite-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  
    & > img {
      vertical-align: middle;
    }
  
  }
  
  & .favorite-btn {

    & > svg {
      transition: scale 300ms ease;
    }

    & > svg:hover {
      cursor: pointer;
      // scale: 1.2;
    }

  }

  & .share {
    cursor: not-allowed;
  }
}

.card {
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--secondary-background-color);
}

.product-overview {
  @extend .card;
}

.product-features {
  @extend .card;
}

.product-description {
  @extend .card;
}

.product-location {
  @extend .card;
}

.subheading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  & .area-price {
    flex: 0.7;
  }

}

.area-price {

  // margin-bottom: 10px;

  & .price {
    color: red;
  }

  & .area {
    color: gray;
  }
}

.overview {
  color: gray;
  font-size: 0.875rem;

  & > * {
    margin-bottom: 10px;
  }

  & img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
  }

  & .see-project {
    color: var(--blue-900);
    font-weight: 600;
    font-size: 0.875rem;
  }

  & .see-more a {
    color: var(--blue-700);
    font-size: 0.875rem;
    text-decoration: none;
  }
}

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  & img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  & .feature {
    flex-basis: 50%;
    margin-bottom: 15px;
    font-size: 0.875rem;
  }
}

.product-description {
  & .description {
    overflow-wrap: break-word;
    text-align: justify;
    white-space: pre-line;
  }
}
