.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-area {
  flex: 1 1 auto;

  display: flex;
  gap: 10px;
  background-color: white;
  position: relative;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 7px;
  flex: 1 1 auto;
  padding: 3px 5px;

  background-color: white;
  border-radius: 5px;
}

.search-btn {
  padding: 0 7px;
  background-color: var(--orange-800);
  border-radius: 5px;

  & button {
    background-color: inherit;
    border: none;
    cursor: pointer;
  }
}

.search-input {
  flex: 1 1 auto;

  border: none;
  background-color: inherit;

  &:focus {
    outline: none;
  }

  &::-webkit-search-cancel-button {
    // color: red;
    // background-color: red;
  }
}

.dropdown-menu {
  display: flex;
  align-items: center;
  flex: 0 1 100px;

  padding: 10px;

  border-right: 1px solid lightgrey;
  background-color: inherit;
}

.menu-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;

  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;

  padding: 12px 7px;
  font-size: 0.875rem;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);

  &:not(last-child) {
    border-bottom: 1px solid lightgray;
  }

  & svg {
    color: var(--orange);
    stroke: var(--orange);
    stroke-width: 1.1;
  }

  &:hover {
    background-color: whitesmoke;
  }
}

.menu-btn {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  text-align: center;

  & span {
    font-size: 0.875rem;
    flex: 1 0 auto;
  }
}

.post-btn {
  flex: 0 0 auto;

  & a {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--orange-800);
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .post-btn {
    display: none;
  }

  .search-btn{
    display: none;
  }

  .search-input {
    
  }
}

@media (max-width: 420px) {

  .dropdown-menu {
    flex: 0 0 auto;
  }
}