@mixin top-right($top: 10px, $right: 10px) {
  position: fixed;
  top: $top;
  right: $right;
  z-index: 999;
}

@mixin toggle-theme-btn-effect() {
  &:hover {
    scale: 1.05;
  };
  &:active {
    box-shadow: 0;
    translate: 0 1px;
  };
}

.toggle-theme-btn {
  padding: 5px 8px;
  border: 1px solid var(--toggle-theme-btn-border-color);
  border-radius: 50%;
  background-color: var(--toggle-theme-btn-bg-color);
  transition-delay: 0;
  box-shadow: 2px 2px 4px 0px rgba(0 0 0 / 30%);

  @include toggle-theme-btn-effect;
  @include top-right;
}

@media (max-width: 1120px) {
  .toggle-theme-btn {
    display: none;
  }
}