.upper-topnav {
  // outline: 1px solid red;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link a {
    text-decoration: none;
    color: inherit;
    font-size: 0.85rem;
    padding: 15px;
  }

  &__link:not(:last-child) span {
    border-right: 1px solid black;
  }

  &__toolbar {
    // outline: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__action a {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: inherit;

    font-size: 0.85rem;
  }
}

.lower-topnav {
  // outline: 1px solid red;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;

  & > * {
    padding: 10px;
    padding-inline: 0;
  }

  &__logo {
    // outline: 1px solid red;
    flex: 0.3 1 auto;

    padding-top: 0;
  }

  &__toolbar {
    flex: 0.7 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 14px;
  }

  &__action > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
  }

  &__action:nth-child(even) svg {
    font-size: 1.6em;
  }

  &__action:nth-child(odd) svg {
    font-size: 1.7em;
  }
}

.taikhoan-menu {

  &:hover &__btn * {
    opacity: 0.8;
  }

  &__content {
    display: block;
    position: absolute;
    z-index: 9;
    top: 100%;
    right: 0;

    overflow-y: auto;
    width: 300px;
    height: 450px;

    background-color: inherit;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  }

  &__content a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    padding: 8px 12px;
    color: inherit;
    text-decoration: none;
  }

  &__content a:hover {
    background-color: #ddd;
  }

  &__title {
    background-color: #f5f5f5;
    padding: 10px;
  }

  &__item a {
    padding: 13px;
  }
}

.header-bottom {
  display: flex;
  
  &__menu {
    display: flex;
    gap: 10px;
  }
}
