.wrapper {
  background-color: var(--app-background-color);
}

@media (max-width: 992px) {
  .wrapper {
    margin: 0 10%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0;
    padding-inline: 20px;
  }
}
