.wrapper {
  background-color: var(--secondary-background-color);
  // margin-bottom: 15px;
  // padding-bottom: 15px;
  // position: relative;
}

@media (max-width: 992px) {
  .wrapper {
    padding: 0 10% 15px 10%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0;
    margin-bottom: 15px;
    padding-inline: 20px;
  }
}
