.app-bar {

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-right: 30px;

  background-color: #202020;
  color: white;

  & .title {
    display: flex;
    align-items: center;

    height: 100%;

    color: whitesmoke;
    font-size: 1.125rem;
    font-weight: bold;
    white-space: nowrap;
  }
  
  
}


.collapse-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  cursor: pointer;
  
  & .collapse-icon {
    padding-inline: 15px;
  }
  
  & .collapse-icon {

    
    & > svg {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      fill: white;
    }

  }

}


@media (max-width: 992px) {

  .app-bar {
    & .title {
      display: none;
    }
  }

}

