.search-box {
  flex: 0 1 100%;

  display: flex;
  align-items: center;

  cursor: pointer;

  & .search-input {

    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    height: 40px;
    padding-inline: 10px;
    // padding-right: 0;
    // border: 1px solid darkgray;
    border-radius: 4px;
    
    transition: width 300ms ease;

    & .search-text {
      color: rgba(231, 227, 252, 0.38);
    }
  }

  
  & .search-btn {

    // display: inline-block;

    border: 0;
    // padding-inline: 10px;
    background-color: transparent;
    cursor: pointer;

    & .search-icon {
  
      
      & > svg {
        vertical-align: middle;
        fill: white;
        width: 25px;
        height: 25px;
      }
    }
  }

  & .clear-btn {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);

    & svg {
      vertical-align: middle;
    }
  }

}

@media (max-width: 992px) {
  
  .search-box {

    justify-content: flex-end;

    & .search-input {
      // justify-content: flex-end;

    }

    & .search-text {
      display: none;
    }
  }

}

@media (max-width: 420px) {

  .search-box {
    justify-content: flex-start;
  }
}