.accordion-menu {

  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
  
  & > ul {
    list-style-type: none;
  }

  & a {
    text-decoration: none;
    color: whitesmoke;
  }

  & span {
    white-space: nowrap;
  }
}

.accordion-menu-item {

  width: 100%;
  cursor: pointer;

  & .children-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 300ms ease;
  }

  & .children-wrapper > * {
    padding-left: 40px;
    background-color: #252525;
    box-shadow: 0 0 3px 0 rgba(0 0 0 / 80%);

    transition: background-color 100ms ease-in-out;

    &:active {
      background-color: var(--orange-900);
    }
  }
  
}


