@import "normalize.css";
@import "./styles/scss/index";

:root {
  --white: #f1f5f9;
  --gray: #9ca3af;
  --black: #000000;
  --red: #dc2626;
  --orange: #f97316;
  --yellow: #fbbf24;
  --green: #16a34a;
  --blue: #3b82f6;
  --purple: #a855f7;
  --pink: #ec4899;

  --toggle-theme-btn-bg-color: var(--white);
  --toggle-theme-btn-border-color: var(--white);
}

.dark {
  --toggle-theme-btn-bg-color: var(--black);
  --toggle-theme-btn-border-color: var(--black);
}

.App {
  background-color: var(--app-background-color);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.column {
  display: flex;
  flex-flow: column wrap;
}}
.spacer {
  display: block;
  height: calc(100vh * 2);
}

a:hover {
  opacity: 0.8;
}
