@import 'normalize.css';
@import './styles/scss/index';

:root {
  --white: #f1f5f9;
  --light-gray: #f3f4f6;
  --gray: #9ca3af;
  --bright-gray: #E8E9EB;
  --black: #000000;
  --red: #dc2626;
  --orange: #f97316;
  --yellow: #fbbf24;
  --green: #16a34a;
  --blue: #3b82f6;
  --purple: #a855f7;
  --pink: #ec4899;
  --indigo: #3f51b5;

  // --app-background-color: var(--light-gray);
  --app-background-color: #f4f4f4;
  --secondary-background-color: white;
  --app-text-color: black;
  --error: var(--red);
  --toggle-theme-btn-bg-color: var(--white);
  --toggle-theme-btn-border-color: var(--white);
}

.App {
  background-color: var(--app-background-color);
  margin-left: 0;
}

.dark {
  --app-background-color: var(--brown-400);
  --secondary-background-color: var(--brown-200);
  --app-text-color: black;
  --app-secondary-text-color: black;
  --error: red;
  --toggle-theme-btn-bg-color: var(--black);
  --toggle-theme-btn-border-color: var(--black);
}

.container {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.header-bottom-spacer {
  display: block;
  height: 20px;
  background-color: var(--app-background-color);
}

.content-spacer {
  margin-top: 10px;
  display: block;
  height: 1000px;
  background-color: var(--app-background-color);
}

.nav-spacer {
  width: 100%;
  height: 10px;
  background-color: var(--secondary-background-color);
}