.content-wrapper {  
  display: flex;
  gap: 5px;

  margin-bottom: 10px;
}

.content {
  flex: 0.7;
}

.ads {
  flex: 0.3;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-800);
  height: 500px;
  position: sticky;
  top: 143px;
}

@media (max-width: 992px) {

  .content {
    flex: 1;
  }

  .ads {
    display: none;
  }

}