
.outer-wrapper {
  margin-top: 30px;
}

.inner-wrapper {
  background-color: var(--secondary-background-color);
  padding: 15px;
  
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: left;

  & .file-upload {
    height: 250px;
    width: 100%;
    padding: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    background-color: var(--app-background-color);
    border: 1px solid var(--orange-800);
  }

  & .upload-icons {
    position: relative;
  }

  & .plus-icon {
    position: absolute;
    right: -10px;
    top: -10px;
  }

  & .upload-requirements {
    font-size: 0.75rem;
    color: grey;
  }
}

.title {

  margin: 0;

  font-size: 1rem;
  font-weight: 600;

  &::selection {
    background-color: var(--red);
    color: white;
  }
}

.help {
  font-size: 0.875rem;
  color: gray;
}

.details {
  flex: 1;

  display: flex;
  flex-direction: column;

  
  & .dropdown-icon {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    
    & svg {
      vertical-align: middle;
    }
  }
  
}

.product-type {
  position: relative;

  & select {
  
    width: 100%;
    padding: 14px;
  
    border: 3px solid #f4f4f4;
    background-color: var(--secondary-background-color);
    
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
  
    &:focus {
      outline: 0;
    }
  }
}


.image {
  padding: 15px;

  & .caption-title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  & .caption p {
    margin: 0;
  }
}