@import './PostProduct.module.scss';

.product-location {

  & .title {
    font-size: 1.125rem;
    margin: 0;
    margin-bottom: 10px;
  }

  & .project-name {
    margin-bottom: 10px;
  }

  & .product-address input {
    // @extend .select-input;
  }
}
