.search-modal {
  background-color: red;
  
  .inner-wrapper {
    width: 500px;
    height: 600px;
    padding: 40px;
    margin: 0 auto;
    border-radius: 12px;
  
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #202020;
  }

  & .modal {
    left: 0 !important;
    background-color: red !important;
  }
}


@media (max-width: 768px) {
  .inner-wrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
}