.card-wrapper {
  background-color: var(--secondary-background-color);
  width: 320px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-details {
  padding-inline: 10px;
}


.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;

  & .avatar {
    margin-top: -60px;
    position: relative;

    border: 3px solid white;
    border-radius: 50%;
  }

  & .avatar .status-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: lightgray;
  }

  & .avatar img {
    vertical-align: middle;
    width: 92px;
    height: 92px;
  }

  & button {
    width: 40px;
    height: 32px;
    border: 0;
  }
}

.user-name {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 7px;
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.follow {
  text-align: left;
  margin-bottom: 7px;
  font-size: 0.875rem;

  & .follower-count, & .following-count {
    font-weight: 600;
  }

  & .separator {
    border-right: 1px solid gray;
    margin-inline: 12px;
  }
}

.follow-btn {
  width: 100%;
  padding: 10px 15px;
  border: 0;
  border-radius: 4px;  
  margin-bottom: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  background-color: var(--orange-800);
  color: white;
  font-weight: bold;

  & svg {
    vertical-align: middle;
  }
}

.stats {
  text-align: left;
  font-size: 0.875rem;
  color: gray;

  & svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }

  & .stats-line {
    margin-bottom: 5px;
  }
}