.user-profile-wrapper {
  width: 100%;
  background-color: var(--secondary-background-color);
  border-radius: 12px;
  padding: 10px;
  padding-top: 0;
}

@media (max-width: 768px) {

  .user-profile-wrapper {
    width: 550px;
  }

}

@media (max-width: 576px) {

  .user-profile-wrapper {
    width: 100%;
  }
}